#header{
    position:sticky;
    width:100%;
    height:45px;
    background-color: rgba(16, 7, 7, 0.968);
    padding-left: 11cm;
    padding-right: 10cm;
    padding-top: 20px;
    margin: 0px;

}
body{
    margin: 0px;
    width:100%;
}
.headicons{
    color:aliceblue;
    margin-left: 1cm;
    font-style: normal;
    font-size: small;
    text-decoration: none;
}
#home{
        background-image: url(titlebg.jpg);
        width: 100%;
        height: 800px;
        background-size: 1300px;
        margin: 0px;
        position:relative;
        top:-21px;

}
#namedis{
    text-align: center;
    position:relative;
    top:7cm;
    left:2cm;
    color:rgb(247, 247, 245);
    scroll-behavior:smooth;

}
.soclogo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
    left: 500px;
    top: 277px;
}
#about{
    width:100%;
    height: 600px;
    background-color: black;
    margin-top: -23px;
}
#ab1{
    width:fit-content;
    height: fit-content;
    position:relative;
    left:400px;
   top:-125px;

}

#resume{
    width:100%;
    height:1100px;
    margin: 0px;
    position: relative;
    top:-35px;
    

}
#resumehead{
    width:400px;
    height:100%;
    background-color:whitesmoke;
    margin: 0px;

}
#resumedescription{
    width:80%;
    height:100%;
    position:relative;
    left:280px;
    background-color: white;
    top:-1130px;

}
* {box-sizing: border-box}

.container {
  width: 80%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 70%; background-color: #2196F3;}
.js{width: 60%; background-color: #f44336;}
.c{width: 70%; background-color: blue;}
.j{width: 70%; background-color: #808080;}
.py{width: 85%; background-color: #808080;}


.p1{
    font-size: larger;
}